<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <title>Hello, World!</title>
</h:head>
<h:body>
    <h:body>
        <h:form id="app-form">
            <p>
                <h:outputLabel for="name" value="Enter your name" required="true"/>
                <h:inputText id="name" value="#{greetingForm.name}"/>
                <h:message for="name"/>
            </p>
            <p>
                <h:commandButton value="Say hello" action="#{greetingForm.submit}">
                    <f:ajax execute="@form" render="app-form:output-message"/>
                </h:commandButton>
            </p>
            <p>
                <h:outputText id="output-message" value="#{greetingForm.message}"/>
            </p>
        </h:form>
    </h:body>
</h:body>
</html>